# Ignore Jupyter checkpoints and cache
.ipynb_checkpoints/
notebooks/scraper_cache/

# Ignore Python bytecode
__pycache__/

# Ignore log files and temporary files
nohup.out
*.log

# Ignore backup files
*~
